@model IEnumerable<Feedback>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- end header section -->
<!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="75" data-background="/user/img/banner/page-title.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                &nbsp;
                <h1>About us</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a asp-action="Index">Home</a></li>
                    <li><a href="javascript:void(0)">About us</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start about-us section -->
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 sm-margin-30px-bottom">
                <div class="about-block">
                    <div class="image">
                        <img src="~/user/img/content/about-3.jpg" alt="" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="padding-80px-left md-padding-50px-left sm-no-padding-left">
                    <h3 class="font-size15 md-font-size14 sm-font-size13 text-uppercase margin-15px-bottom md-margin-10px-bottom font-weight-400 letter-spacing-3 word-spacing-3 text-theme-color">Air Ambulance</h3>
                    <h4 class="font-size40 md-font-size36 sm-font-size30 xs-font-size26 font-weight-500 margin-25px-bottom md-margin-25px-bottom sm-margin-15px-bottom">
                        Let’s Get To Know About
                        Ambulance Services
                    </h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.</p>
                    <h5 class="font-size20 margin-10px-bottom font-weight-500">
                        International Air
                        Ambulance
                    </h5>
                    <p>It is a long established fact that a reader will be distracted by the readable.</p>
                    <h5 class="font-size20 margin-10px-bottom font-weight-500">
                        International Air
                        Ambulance?
                    </h5>
                    <p class="no-margin-bottom">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about-us section -->
<!-- start counter section -->
<section class="no-padding-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 xs-margin-25px-bottom">
                <div class="counter-block text-center">
                    <h4 class="margin-10px-bottom text-theme-color"><span class="countup">238</span></h4>
                    <div class="separator"></div>
                    <h5 class="margin-5px-bottom xs-no-margin-bottom text-uppercase font-weight-500 font-size20 sm-font-size18 xs-font-size16">Customers</h5>
                    <p class="no-margin-bottom">Printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-4 xs-margin-25px-bottom">
                <div class="counter-block text-center">
                    <h4 class="margin-10px-bottom text-theme-color"><span class="countup">45</span></h4>
                    <div class="separator"></div>
                    <h5 class="margin-5px-bottom xs-no-margin-bottom text-uppercase font-weight-500 font-size20 sm-font-size18 xs-font-size16">Years Experience</h5>
                    <p class="no-margin-bottom">Various versions have evolved</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter-block text-center">
                    <h4 class="margin-10px-bottom text-theme-color"><span class="countup">23</span></h4>
                    <div class="separator"></div>
                    <h5 class="margin-5px-bottom xs-no-margin-bottom text-uppercase font-weight-500 font-size20 sm-font-size18 xs-font-size16">Projects</h5>
                    <p class="no-margin-bottom">variations of passages of Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end counter section -->
<!-- start consultancy section -->
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="padding-40px-right md-padding-30px-right sm-no-padding-right">
                    <h3 class="font-size15 md-font-size14 sm-font-size13 text-uppercase margin-15px-bottom md-margin-10px-bottom font-weight-400 letter-spacing-3 word-spacing-3 text-theme-color">Air Ambulance</h3>
                    <h4 class="font-size40 md-font-size36 sm-font-size30 xs-font-size26 font-weight-500 margin-40px-bottom md-margin-25px-bottom">
                        Leading Medical Flight
                        Service Provider
                    </h4>

                    <div class="row service-blocks">
                        <div class="col-lg-2 col-sm-1 col-2">
                            <div class="numbers">
                                <span>01</span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-11 col-10">
                            <div class="sm-padding-15px-left xs-padding-10px-left mobile-no-padding-left">
                                <h5 class="font-size18 sm-font-size16 margin-5px-bottom">Air Ambulance</h5>
                                <p class="no-margin-bottom">Model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row service-blocks">
                        <div class="col-lg-2 col-sm-1 col-2">
                            <div class="numbers">
                                <span>02</span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-11 col-10">
                            <div class="sm-padding-15px-left xs-padding-10px-left mobile-no-padding-left">
                                <h5 class="font-size18 margin-5px-bottom md-margin-5px-bottom xs-margin-10px-bottom md-font-size18 sm-font-size16">Car Ambulance</h5>
                                <p class="no-margin-bottom">It is a long established fact that a reader will be distracted by the readable.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 sm-margin-30px-bottom">
                <div class="padding-40px-left md-padding-20px-left sm-no-padding-left text-center">
                    <img src="~/user/img/content/about-5.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end consultancy section -->
<!-- start testimonial section-->
<section>
    <div class="container lg-container">
        <div class="margin-50px-bottom xs-margin-30px-bottom text-center">
            <h3 class="font-size13 text-uppercase margin-15px-bottom xs-margin-5px-bottom font-weight-400 letter-spacing-3 word-spacing-3 text-theme-color">testimonials</h3>
            <h4 class="font-size38 xs-font-size28 line-height-45 font-weight-500 no-margin-bottom">What our clients say</h4>
        </div>

        <div class="owl-carousel owl-theme client">
            @foreach (var item in Model)
            {
                <div class="client-block">
                    <div class="icon">
                        <i class="fa fa-quote-right"></i>
                    </div>
                    <div class="client-img">
                        <img src="~/@item.EmergencyRequest.User.Image" alt="" />
                    </div>
                    <ul class="rating">
                        <li class="star-rate"><i class="fa fa-star" aria-hidden="true"></i></li>
                        @if (item.Rating == RapidResuce.Enums.Rating.Good)
                        {
                            <li class="star-rate"><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        }
                        else if (item.Rating == RapidResuce.Enums.Rating.Excellent)
                        {
                            <li class="star-rate"><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li class="star-rate"><i class="fa fa-star" aria-hidden="true"></i></li>
                        }
                    </ul>
                    <p class="xs-margin-15px-bottom">
                        “ @item.Comments ”
                    </p>
                    <h5 class="margin-5px-bottom xs-no-margin-bottom font-size20 md-font-size18 xs-font-size16 font-weight-600 text-theme-color">
                        @item.EmergencyRequest.User.FirstName @item.EmergencyRequest.User.LastName
                    </h5>
                    <div class="font-size16 xs-font-size14">Patient</div>
                </div>
            }
        </div>
    </div>
</section>
<!-- end testimonial section-->
