@using RapidResuce.Enums
@model Ambulance

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card card-round">
            <div class="card-header" style="border-top: 1px solid #ebecec !important;">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title">Ambulances</h4>
                    <div class="d-flex align-items-center justify-content-between">

                        <button class="btn btn-primary btn-sm mx-1 fw-bold  px-5" data-bs-toggle="modal"
                                data-bs-target="#ambulanceModal">
                            <i class="fa fa-plus text-White mx-1" aria-hidden="true"></i>
                            Add Ambulance
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="ambulanceGrid"></div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="DeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width : 700px">
        <div class="modal-content">
            <div class="modal-header border-0 d-flex justify-content-end">
                <h5 class="modal-title fw-bold" id="exampleModalLongTitle">Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5 py-5">
                <i class="fa fa-times-circle-o me-3" aria-hidden="true" style="font-size: 25px;color: red !important;"></i>
                <h3 class=" mb-4 d-inline" style="font-weight :900 !important">Are you sure to delete this ambulance?</h3>
            </div>
            <div class="modal-footer border-0 ">
                <button class="btn btn-primary px-5 btn-sm fw-bold me-3" onclick="ambulance.delete()" style="font-size: 14px;">
                    <i class="fa fa-save me-2" aria-hidden="true"></i> Yes
                </button>
                <button type="button" class="btn btn-danger fw-bold btn-sm px-3" data-bs-dismiss="modal" style="font-size: 14px;">
                    <i class="fa fa-times me-2" aria-hidden="true"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit/View ambulance Modal -->
<div class="modal fade" id="ambulanceModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width: 50%;" role="document">
        <div class="modal-content">
            <div class="modal-header  text-white" style="background-color:#2a2f5b !important">
                <h5 class="modal-title fw-bold" id="modalTitle">
                    Add ambulance
                </h5>
                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 pt-5" style="background-color:#f5f7fd;">
                <div class="card mt-3">
                    <div class="card-body">
                        <form id="frmAmbulance" asp-action="Create" class="py-2" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row ">

                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <div class="custom-file-button d-flex align-items-center">
                                            <label for="image" class="mb-0 fw-bold text-center" style="cursor: pointer; width: 100%;">Click here to Uplaod Image...</label>
                                            <input id="image" accept="image/*" name="image" type="file" class="d-none">
                                        </div>

                                        <div class="mt-3 text-center">
                                            <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 200px; display: none;" class="img-thumbnail" />
                                        </div>

                                        <div class="text-center mt-2">
                                            <button type="button" id="clearImage" class="btn btn-sm btn-danger" style="display: none;">Clear Image</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="VehicleNumber" class="control-label control-label-sm fw-bold"></label>
                                        <input asp-for="VehicleNumber" id="vehicleNumber" class="form-control form-control-sm" />
                                        <span asp-validation-for="VehicleNumber" class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="DriverId" class="control-label control-label-sm fw-bold"></label>
                                        <select asp-for="DriverId" asp-items="ViewBag.Drivers" id="lastName" class="form-control form-control-sm"></select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="EmtId" class="control-label control-label-sm fw-bold"></label>
                                        <select asp-for="EmtId" asp-items="ViewBag.Emts" id="lastName" class="form-control form-control-sm"></select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="EquipmentLevel" class="control-label control-label-sm fw-bold"></label>
                                        <select asp-for="EquipmentLevel" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<EquipmentLevel>()"></select>
                                        <span asp-validation-for="EquipmentLevel" class="text-danger small"></span>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top">
                <button class="btn btn-primary px-5 btn-sm fw-bold" id="btnSave" onclick="ambulance.save()">
                    <i class="fa fa-save me-1" aria-hidden="true"></i>
                    <span>Save</span>
                </button>
                <button type="button"
                        class="btn btn-danger btn-sm"
                        data-bs-dismiss="modal">
                    <i class="fa fa-times me-1" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        $(function () {
            ambulance.onInit();
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}